<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.jardenconsulting.permission.ENGSPA_READ" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="jarden.AirplaneModeReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.AIRPLANE_MODE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message" >
        </activity>
        <activity
            android:name="jarden.bluetooth.BluetoothActivity"
            android:label="@string/title_activity_bluetooth" >
        </activity>
        <activity
            android:name=".AutoCompleteActivity"
            android:label="@string/title_activity_auto_complete" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".QuizActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_quiz" >
        </activity>
        <activity
            android:name=".LayoutsActivity"
            android:label="@string/title_activity_layouts" >
        </activity>
        <activity
            android:name=".DynamicFormActivity"
            android:label="@string/title_activity_dynamic_form" >
        </activity>
        <activity
            android:name=".ProgressActivity"
            android:label="@string/title_activity_progress" >
        </activity>
        <activity
            android:name=".TextToSpeechActivity"
            android:label="@string/title_activity_text_to_speech" >
        </activity>

    </application>

</manifest>
