ANDROIDCOURSE
alternative way of passing results back - see app in CourseApp
(then delete CourseApp!)
Video to survive screen rotation! Done it in courseApp; transfer code and instructions
	to AndroidCourse

CARDS
To Test
	bluetooth still works - but how is it to be used now?
To-Do:
	stay on same hand if rotate or go to another app
	lastBid, bidList, westDeal, primaryBid, bidNumber should
		all be in business class, not presentation class; also keep
		track of 3 consecutive passes
	align east to right of screen

AMAZEQUIZ
merge in QuizRace:
	add AnagramQuiz; sort out why Files not working; option with no race!
	input type to be text or number; don't throw any exceptions!
	add 'Go' button to keyboard; delete QuizRace
	try out wi-fi direct: http://developer.android.com/guide/topics/connectivity/wifip2p.html
possibly move QuestionStyle and AnswerStyle out of Quiz and put into User,
	as done by EngSpaQuiz2

SPANISH
code review!
remove hockey?
in the morning?
more phrases

put more logic into DocumentTextView:
	produce list of contents, and show link to it at beginning of document
	keep track of navigation and provide previous/next

numbers game, change button to Start; when started, change it to Restart

on Cara’s motorg phone, tool bar hides part of “revise spanish” of drawer menu

close keyboard on click away, like ios

test harness!


